{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div align="center">
    <h1>Контакты</h1>
    <hr>
    <h5>Время работы нашего магазина:</h5>
    <p>Пн-Пт 8:00 - 20:00</p>
    <hr>
    <h5>Телефон:</h5>
    <p>+38 (097) 356 33 21</p>
    <hr>
    <h5>Адрес нашего магазина:</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.7924720464007!2d30.509503656102943!3d50.444966078111484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef7f926e0bb%3A0xcfb3b94415df08e6!2z0YPQuy4g0JLQu9Cw0LTQuNC80LjRgNGB0LrQsNGPLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1624455078508!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
{% endblock %}

